 <div id="menu"class="container">
    <div class="row">
        
        <a href="<%= pages_about_path %>">
          <div  id ="box1"class= "col s12 m6">
              <div class="card white darken-1">
                  <div class="card-content gray-text">
                    <span> 
                      <h3 
                        class="center-align">
                         <i class="mdi-action-assignment-ind"></i>
                         About
                      </h3>
                    </span>   
                  </div>
              </div>
          </div>
        </a>
   
        <a href="<%= pages_contact_path %>">
          <div id ="box2"class="col s12 m6">
            <div class="card white darken-1">
              <div class="card-content gray-text">
                <span> 
                  <h3 
                      class="center-align">
                      <i class="mdi-communication-quick-contacts-mail"></i> Contact
                  </h3>
                </span>   
              </div>
            </div>
         </div>
       </a>
    </div>
    
    <div class="row ">
      <a href="#">
        <div id ="box3" class="col s12 m6">
          <div class="card white darken-1">
            <div class="card-content gray-text">
              <span>
                 <h3 
                    class="center-align">
                    <i class="mdi-action-work"></i>
                    Projects
                 </h3>
              </span>   
            </div>
          </div>
        </div>
      </a>
      
      <a href="#">
        <div id ="box4" class="col s12 m6">
          <div class="card white darken-1">
            <div class="card-content gray-text">
              <span> 
                <h3 
                  class="center-align">
                 <i class="mdi-editor-insert-drive-file"></i>  
                  Resume
                </h3>
              </span>   
            </div>
          </div>
        </div>
      </a>
    </div>

