 <div id="menu"class="container">
    <div class="row">
        <a href="#modal1" class="modal-trigger">
          <div  id ="box1"class= "col s12 m6">
              <div class="card white  z-depth-2 ">
                  <div class="card-content ">
                    <span>
                      <h3
                        class="center-align blue-text">
                         <i class="mdi-action-assignment-ind"></i>
                         Acerca del Autor
                      </h3>
                    </span>
                  </div>
              </div>
          </div>
        </a>



        <a href="#modal3" class="modal-trigger">

          <div id ="box2"class="col s12 m6">
            <div class="card white z-depth-2">
              <div class="card-content">
                <span>
                  <h3
                      class="center-align blue-text">
                      <i class="mdi-communication-quick-contacts-mail"></i> Contacto
                  </h3>
                </span>
              </div>
            </div>
         </div>
       </a>
    </div>

    <div class="row ">
      <a href="<%=posts_path%>">
        <div id ="box3" class="col s12 m6">
          <div class="card white z-depth-2">
            <div class="card-content">
              <span>
                 <h3
                    class="center-align blue-text">
                    <i class="mdi-action-work"></i>
                    Proyectos
                 </h3>
              </span>
            </div>
          </div>
        </div>
      </a>

      <a href="<%=resume_path%>">
        <div id ="box4" class="col s12 m6">
          <div class="card white z-depth-2">
            <div class="card-content">
              <span>
                <h3
                  class="center-align blue-text">
                 <i class="mdi-editor-insert-drive-file"></i>
                  Curriculum
                </h3>
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
