<div id="menu"class="container">
	<div class="row ">
      <div class="col s12 m6">
        <div class="card large white">
          <div class="container">
            <div class="row ">
              <h4 class="center-align">Miguel Alfredo</h4>
            </div>
            <div class="row ">
              <blockquote class="flow-text ">
     								Estudiante de ingenieria, adicto a aprender nuevas tecnologias y realizar
     								las cosas de la mejor forma posible.
    					</blockquote>
            </div>
          </div>
        </div>
      </div>


      <div class="col s12 m6">
        <div class="card medium white">
          <div class="container">
            <div class="row ">
              <h4 class="center-align">Estudios</h4>
            </div>
            <div class="row ">
            
             <div class="row">
               <blockquote class="flow-text ">
                Instituto Tecnologico de la Laguna

              </blockquote >

              <blockquote class="flow-text ">
                Ingenieria en Sistemas Computacionales
              </blockquote>
             </div>

            </div>
          </div>
        </div>
      </div>
  </div>
</div>
