<div id="menu"class="container ">
	
      <div class="col s2">
        <div class="card large white ">
          <div class="container">
            <div class="row ">
              <h4 class="center-align">Contacto</h4>
            </div>
            <div class="row ">
                <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="mdi-social-group"></i>Redes Sociales</div>
      <div class="collapsible-body">

      <p>Lorem ipsum dolor sit amet.</p>

      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
            </div>
          </div>
        </div>
      </div>
    
</div>

